mat-card {
  max-width: 1000px;
  margin: 2em auto;
  /* text-align: center; */
}

mat-form-field {
  display: block;
}

.align-top {
  vertical-align: top;
}

.align-left {
  text-align: left;
}

.custom30-width {
  width: 30%;
}

.div-end {
  text-align: end;
}

.button-row button {
  margin: 5px;
}

.div-end {
  text-align: center;
}
