<form [formGroup]="formularioRegUsr" class="form-container">
  <mat-card>
    <mat-card-content>
      <h2>Registro Usuario</h2>
      <div class="full-width">
        <mat-form-field>
          <input formControlName="nombre" type="text" [disabled]="esConsulta" matInput placeholder="Nombre">
          <mat-error>
            Por favor ingrese un nombre valido
          </mat-error>
        </mat-form-field>
      </div>
      <div class="full-width">
        <mat-form-field>
          <input formControlName="identificacion" type="number" [disabled]="esConsulta" matInput placeholder="Identificacion">
          <mat-error>
            Por favor ingrese una identificacion valida
          </mat-error>
        </mat-form-field>
      </div>
      <div class="full-width">
        <mat-form-field>
          <input formControlName="usuario" type="text" [disabled]="esConsulta" matInput placeholder="Usuario">
          <mat-error>
            Por favor ingrese un usuario valido
          </mat-error>
        </mat-form-field>
      </div>
      <div class="full-width">
        <mat-form-field>
          <input formControlName="password" type="text" [disabled]="esConsulta" matInput placeholder="Password">
          <mat-error>
            Por favor ingrese un password valido
          </mat-error>
        </mat-form-field>
      </div>
      <br>
      <div class="full-width align-left">
        <mat-select formControlName="tipoUsuario" placeholder="Tipo de Usuario" [disabled]="esConsulta">
          <mat-option>Seleccione</mat-option>
          <ng-container *ngFor="let tipo of tiposUsuarios">
            <mat-option [value]="tipo">{{tipo}}</mat-option>
          </ng-container>
        </mat-select>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="warn" (click)="cancelar()">Cancelar</button>
      <button mat-raised-button color="primary" [disabled]="esConsulta" (click)="registrarUsuario()">Guardar</button>
    </mat-card-actions>
  </mat-card>
</form>
